<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
    <link rel="stylesheet" href="{% static 'cor/css/bootstrap.css' %}">
</head>
<body>

<div class="container py-5">
	<h1>Register</h1>
	<form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fm in form %}
            {{ fm.label_tag }} {{ fm }} {{ fm.errors|striptags }} <br><br>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Register</button>
	</form>

    {% if messages %}
        {% for message in messages %}
            <small {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</small>
        {% endfor %}
     {% endif %}
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>


<script src="{% static 'enroll/js/jquery.js' %}"></script>
<script src="{% static 'enroll/js/popper.js' %}"></script>
<script src="{% static 'enroll/js/bootstrap.js' %}"></script>
</body>
</html>